.accommodation {

    // h1 {
    //     margin: 0 0 2rem;
    // }

    &__list {
        display: grid;
        justify-content: start;
        grid-column-gap: 2rem;
    
        @include detail-line;

        @include mq(350) {
            grid-template-columns: repeat(2, max-content);
        }

        @include mq(450) {
            grid-template-columns: repeat(3, max-content);
        }

        @include mq(550) {
            grid-template-columns: repeat(4, max-content);
        }

        @include mq(1500) {
            grid-template-columns: repeat(6, max-content);
        }

    }

    &__person {
        @include icon-grid("\f007", 1.7rem, inherit);
    }

    &__bedroom {
        @include icon-grid("\f236", 1.7rem, inherit);
    }

    &__bathroom {
        @include icon-grid("\f2cd", 1.7rem, inherit);
    }

    &__space {
        @include icon-grid("\e900", 1.7rem, inherit);
    }

    &__floor {
        @include icon-grid("\e900", 1.7rem, inherit);
    }

    &__description {
        margin-top: 4rem;
    }
}