.ad-list {
    @include content-center;
    max-width: $center-text;

    .heading-1 {
        margin: 2rem 0 1rem;
    }

    .paragraph {
        margin-bottom: 2rem;
    }

    .select,
    .pagination_top {
        display: none;
    }

    [id="fewo_list_items_19"] {
        @include gallery;
    }

    .fewo_list_item {

        .fewo_number {
            display: none;
        }

        .objekt_list_nav_wrapper {
            display: none;
        }
    }
}