.ad-booking-edit {
    @include content-center;
    max-width: $center-text;

    .heading-1 {
        margin: 2rem 0 2rem;
    }

    h2 {
        display: none;
    }

    .formbody {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: .5rem;
        align-items: center;

        legend {
            display: none;
        }
    }

    fieldset {
        display: contents;
    }

    .formelem {
        display: contents;
    }

    input[type="text"],
    textarea {
        width: 100% !important; // Inline style
        @include form;
        text-align: left;
    }

    .formsubmit {
        grid-column: 1 / -1;
        margin: 2rem 0 0 !important; // Inline style
    }

    .submit {
        @include btn-primary;
        max-width: none;
    }
}