.booking-2 {
    @include content-center;

    .heading-2,
    .heading-3 {
        margin: 3rem 0 1rem;
    }

    .booking_summary .error {
        @include error;
    }

    .formbody {
        margin: $spacer 0;
        display: grid;
        grid-gap: 2rem;

        @include mq(900) {
            grid-template-columns: 1fr 30rem;
        }
    }

    .booking_overview_container {
        @include mq(900) {
            grid-column: 2 / 3;
            grid-row: 1 / -1;
        }
    }

    .price_part {
        display: grid;
        grid-template-columns: repeat(2, auto);
        border-bottom: .1rem solid $grey2;
        padding: .5rem 0;
    }

    .price_total {
        display: grid;
        grid-template-columns: repeat(2, auto);
        padding: 1rem 0;
        font-weight: $fw-sb;
    }

    .price_value {
        justify-self: end;
    }

    .booking_confirm_button {
        display: none;
    }

    .booking_confirm_error {
        @include error;
        text-align: left;

        .booking_error_text {
            @include icon-grid("\f071", 4rem, $clr-error);
            grid-gap: 2rem;
        }
    }

    p.error {
        display: none;
    }

    .traveldata_person {
        border-top: .1rem solid $grey2;
        border-bottom: .1rem solid $grey2;
        padding: 2rem 0;
    }

    .booking_addons_headline {
        margin-top: $spacer;
        font-size: 2.4rem;
        font-weight: $fw-b;
    }

    .booking_addon {
        padding: 1rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;

        &_price {
            display: grid;
            text-align: right;
        }

        &:nth-child(2n+1) {
            background-color: $grey4;
        }

        .widget-select {
            display: grid;
            grid-template-columns: 1fr 6rem;
            align-items: center;
        }
    }

    // .booking_addon_price {
    //     display: inline-block;
    //     text-align: right;
    //     line-height: 1.5;
    // }

    .booking_customer_headline {
        margin-top: $spacer;
        font-size: 2.4rem;
        font-weight: $fw-b;
    }

    .booking_customer_options {
        display: grid;

        @include mq(500) {
            grid-template-columns: 3fr 5fr;
        }

        @include mq(800) {
            grid-template-columns: 8fr 3fr 5fr;
        }

        grid-column-gap: 1rem;
        grid-row-gap: .5rem;

        label {
            display: none;
        }
    }

    .field_salutation {
        grid-column: 1 / 2;
    }

    .field_firstname {
        grid-column: 1 / -1;

        @include mq(500) {
            grid-column: 1 / 2;
        }
    }

    .field_lastname {
        grid-column: 1 / -1;

        @include mq(500) {
            grid-column: 2 / -1;
        }
    }

    .field_street {
        grid-column: 1 / -1;

        @include mq(800) {
            grid-column: 1 / 2;
        }
    }

    .field_postal {
        grid-column: 1 / -1;

        @include mq(500) {
            grid-column: 1 / 2;
        }

        @include mq(800) {
            grid-column: 2 / 3;
        }
    }

    .field_city {
        grid-column: 1 / -1;

        @include mq(500) {
            grid-column: 2 / 3;
        }

        @include mq(800) {
            grid-column: 3 / -1;
        }
    }

    .field_country {
        grid-column: 1 / 2;
    }

    .field_phone {
        grid-column: 1 / 2;
    }

    .field_email {
        grid-column: 1 / 2;

        @include mq(500) {
            grid-column: 2 / -1;
        }
    }

    .field_message {
        grid-column: 1 / -1;
    }

    select,
    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        @include form;
        text-align: left;

        &.error {
            background-color: $clr-error-background;
        }

        &:valid {
            border-color: $green;
            background-color: $white;
        }
    }

    .textarea {
        width: 100%;
        @include form;
        text-align: left;
    }

    .booking_terms {
        padding: 1rem;

        &.error {
            background-color: $clr-error-background;
        }

        input[type="checkbox"] {
            margin-right: 1rem;
        }
    }

    .formsubmit {
        @include mq(400) {
            text-align: center;
        }
    }

    .submit {
        @include btn-primary;
        max-width: none;
    }
}