.button,
.submit,
.text .submit,
.text .more a,
.text .back a {

    &,
    &:link,
    &:visited {
        font-size: $default-font-size;
        font-weight: $fw-eb;
        line-height: 2.4rem;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        border: .2rem solid $clr-primary;
        border-radius: $radius;
        padding: 1rem 0;
        color: $white;
        background-color: $clr-primary;
        // width: 100%;
        max-width: 65rem;
        transition: background-color .2s ease-in-out;
    }

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
        background-color: scale-color($clr-primary, $lightness: -10%);
        border: .2rem solid scale-color($clr-primary, $lightness: -10%);
        // outline-style: none;
    }

    &--white,
    &--cancel,
    &--print,
    &--send {

        &,
        &:link,
        &:visited {
            color: $clr-primary;
            background-color: $white;
        }
    }
}

.button--pano {
    @include content-full;
    text-transform: uppercase;;
}

.more a,
.back a,
.submit {
    margin: 2rem 0 2rem;
}