.contact {
    @include content-center;
    max-width: 70rem;
    padding: $spacer-top 0 2rem;

    .heading-1 {
        margin-bottom: 3rem;
    }

    .heading-3 {
        margin: 2rem 0 1rem;
    }

    .formbody {
        display: grid;

        @include mq(500) {
            grid-template-columns: 1fr 1fr;
        }

        @include mq(800) {
            grid-template-columns: 8fr 3fr 5fr;
        }

        grid-column-gap: 1rem;
        grid-row-gap: .5rem;

        label {
            display: none;
        }
    }

    fieldset {
        display: contents; // CSS-Grid causes an element's children to appear as if they were direct children of the element's parent, ignoring the element itself
    }

    .fld_fld_object {
        grid-column: 1 / -1;
    }

    .fld_fld_departure {
        @include mq(800) {
            grid-column: 2 / -1;
        }
    }

    .fld_fld_children {
        @include mq(800) {
            grid-column: 2 / -1;
        }
    }

    .fld_fld_anrede {
        grid-column: 1 / 2;
    }

    .fld_fld_firstname {
        grid-column: 1 / -1;

        @include mq(500) {
            grid-column: 1 / 2;
        }
    }

    .fld_fld_lastname {
        grid-column: 1 / -1;

        @include mq(500) {
            grid-column: 2 / -1;
        }
    }

    .fld_fld_street {
        grid-column: 1 / -1;

        @include mq(800) {
            grid-column: 1 / 2;
        }
    }

    .fld_fld_postal {
        grid-column: 1 / -1;

        @include mq(500) {
            grid-column: 1 / 2;
        }

        @include mq(800) {
            grid-column: 2 / 3;
        }
    }

    .fld_fld_city {
        grid-column: 1 / -1;

        @include mq(500) {
            grid-column: 2 / 3;
        }

        @include mq(800) {
            grid-column: 3 / -1;
        }
    }

    .fld_fld_phone {
        grid-column: 1 / 2;
    }

    .fld_fld_email {
        grid-column: 1 / 2;

        @include mq(500) {
            grid-column: 2 / -1;
        }
    }

    .fld_fld_comment {
        grid-column: 1 / -1;
    }

    select,
    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        @include form;
        text-align: left;

        &.error {
            background-color: $clr-error-background;
        }

        &:valid {
            border-color: $green;
            background-color: $white;
        }
    }

    .textarea {
        width: 100%;
        @include form;
        text-align: left;
    }

    .fld_fld_privacy_text {
        grid-column: 1 / -1;
    }

    .widget-requestCheckbox {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 2rem;
        margin: 2rem 0;

        &.error {
            background-color: $clr-error-background;
            padding: 1rem;
        }

        .checkbox {
            margin: .5rem 0;
        }
    }

    #lbl_fld_privacy_text_0 {
        display: block;

        p {
            display: inline;
        }

        .mandatory {
            display: inline;
        }
    }

    .fld_fld_submit {
        @include mq(500) {
            grid-column: 2;
        }

        @include mq(800) {
            grid-column: 2 / 4;
        }
    }

    .submit {
        @include btn-primary;
        max-width: none;
    }
}