.container {

    @include content-center;
    max-width: $center-text;

    &__column1 {
        // padding-top: 5rem;
    }

    &__column2 {
        padding-top: 2rem;
    }

    @include mq(1000) {

        display: grid;
        grid-template-columns: auto 35rem;
        grid-gap: 5rem;
        max-width: $center-width;
    }
}