.equipment {

    padding-top: 2rem;

    h2 {
        margin: 2rem 0 2rem;
    }

    &__block {
        margin: 0 0 2rem;
    }

    &__title {
        @include txtStyle (2.2rem, $fw-b, 1.44, none);
        margin: 0 0 1rem;
    }

    &__list {
        columns: 15rem;
        column-gap: 5rem;
        padding: 0 0 0 2rem;
        margin: 0;
        line-height: 1.2;
    }
}