.gallery-search {
    @include content-full;
    margin: $spacer auto;

    // Wrapper
    .mod_fewo_list {
        display: grid;
        grid-gap: 1rem;

        @include mq(600) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // Sorting
    .fewo_list_header {
        @include mq(600) {
            justify-self: end;
        }

        label {
            display: none;
        }

        select {
            @include form;
        }
        .fewo_active_search {
            display: none;
        }
    }

    // Gallery

    .fewo_items {
        grid-column: 1 / -1;

        @include gallery;
    }
}