.guest-data {
    @include content-center;
    max-width: 70rem;
    padding: $spacer-top 0 2rem;

    .heading-1 {
        margin-bottom: 3rem;
    }

    .heading-2 {
        margin: 0 0 2rem;
    }

    .formbody {
        display: grid;
        margin: $spacer 0;

        @include mq(500) {
            grid-template-columns: 1fr 1fr;
        }

        @include mq(800) {
            grid-template-columns: 8fr 3fr 5fr;
        }

        grid-column-gap: 1rem;
        grid-row-gap: .5rem;

        label {
            display: none;
        }
    }

    fieldset {
        display: contents; // CSS-Grid causes an element's children to appear as if they were direct children of the element's parent, ignoring the element itself
    }

    .first-line {
        display: contents;

        // Salutation
        div:nth-child(1) {
            grid-column: 1 / 2;
        }

        // First name
        div:nth-child(2) {
            grid-column: 1 / -1;

            @include mq(500) {
                grid-column: 1 / 2;
            }
        }

        // Last name
        div:nth-child(3) {
            grid-column: 1 / -1;

            @include mq(500) {
                grid-column: 2 / -1;
            }
        }

        // Date of birth
        div:nth-child(4) {
            grid-column: 1 / -1;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1rem;

            label {
                display: block;
                grid-column: 1 / -1;
            }
        }

        // Date of arrival
        div:nth-child(5) {
            grid-column: 1 / -1;
            grid-row: 12;

            @include mq(500) {
                grid-row: 10;
            }

            @include mq(800) {
                grid-row: 9;
            }

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1rem;

            label {
                display: block;
                grid-column: 1 / -1;
            }
        }
    }

    .second-line {
        display: contents;


        // Street
        div:nth-child(1) {
            grid-column: 1 / -1;

            @include mq(800) {
                grid-column: 1 / 2;
            }
        }

        // Postal, city
        div:nth-child(2) {
            grid-column: 1 / -1;
            display: contents;
        }

        // Country
        div:nth-child(3) {
            grid-column: 1 / -1;
        }

        // Nationality
        div:nth-child(4) {
            grid-column: 1 / -1;

            label {
                display: block;
                grid-column: 1 / -1;
            }
        }

        // date of departure
        div:nth-child(5) {
            grid-column: 1 / -1;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1rem;

            label {
                display: block;
                grid-column: 1 / -1;
            }
        }
    }

    // Handicapped
    .third-line {
        display: contents;

        div:nth-child(1) {
            grid-column: 1 / -1;
            grid-row: 11;

            @include mq(500) {
                grid-row: 9;
            }

            @include mq(800) {
                grid-row: 8;
            }

        }
    }


    .fld_fld_departure {
        @include mq(800) {
            grid-column: 2 / -1;
        }
    }

    .fld_fld_postal {
        grid-column: 1 / -1;

        @include mq(500) {
            grid-column: 1 / 2;
        }

        @include mq(800) {
            grid-column: 2 / 3;
        }
    }

    .fld_fld_city {
        grid-column: 1 / -1;

        @include mq(500) {
            grid-column: 2 / 3;
        }

        @include mq(800) {
            grid-column: 3 / -1;
        }
    }


    select,
    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        @include form;
        text-align: left;

        &.error {
            background-color: $clr-error-background;
        }

        &:valid {
            border-color: $green;
            background-color: $white;
        }
    }


    .fld_fld_submit {
        @include mq(500) {
            grid-column: 2;
        }

        @include mq(800) {
            grid-column: 2 / 4;
        }
    }

    .submit {
        @include btn-primary;
        max-width: none;
    }
}