.host-login {
    @include content-center;
    max-width: 40rem;
    padding: $spacer-top 0 2rem;

    .heading-1 {
        margin-bottom: 3rem;
    }

    .login_info {
        margin-bottom: 3rem;
    }

    &__form {

        input[type="text"],
        input[type="password"] {
            @include form;
            text-align: left;
        }

        margin-top: 3rem;

        .formbody {
            display: grid;
            grid-gap: 1rem;
            grid-template-rows: auto;
            grid-template-columns: auto;
            margin-bottom: 1rem;
        }

        .submit {
            @include btn-primary;
            max-width: none;
        }
    }
}