.fewo_filter_loader {
    span {
        position: fixed;
        top: calc(50% - 2rem);
        left: calc(50% - 2rem);
        border: 1.5rem solid $grey3;
        border-radius: 50%;
        border-top: 1.5rem solid $blue;
        border-bottom: 1.5rem solid $blue;
        width: 5rem;
        height: 5rem;
        animation: spin 2s linear infinite;
        z-index: 1000;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}