.navigation-main {

    ul {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1.5rem;
        align-items: center;
        list-style: none;
        margin: 0;
        @include menu-item;
    }

    .last a,
    .last strong {
        @include icon-grid("\f004", inherit, inherit);
        grid-gap: .5rem;
    }

    &--login {

        .last a,
        .last strong {
            span {
                display: none;
            }

            @include icon-grid("\f08b", 2rem, inherit);
        }

        .first a::before {
            display: none;
        }
    }
}