.overviewcal {
    &_wrapper {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto 1fr;
        margin-bottom: $spacer-md;
    }

    .legend {
        display: grid;
        padding-top: 3.9rem;
        text-transform: uppercase;
        font-weight: bold;
        background-color: $grey4;
        border-bottom: .5rem solid $grey3;

        &>div:nth-child(1),
        &>div:nth-child(2) {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: min-content;
            align-items: center;
            padding-right: 1rem;
        }

        .free,
        .taken {
            width: 1.5rem;
            height: 2.5rem;
            margin: .1rem 1rem;
        }

        .accomodation {
            margin-top: .8rem;
            background-color: $grey3;
        }

        .accomodation>div>a {
            height: 3rem;
            margin: .2rem 0 0 0;
            padding-left: 1rem;
            padding-right: 1rem;
            background-color: $white;
            @include icon-grid("\f07a", 1.7rem, inherit);
            @include txtStyle (1.7rem, $fw-eb, 1, none, $clr-primary);
            text-decoration: none;
        }
    }

    .free {
        background: $clr-cal-free;
    }

    .taken {
        background: $clr-cal-full;
    }

    .change {
        background: $clr-cal-full;
    }

    .arrival {
        background: linear-gradient(90deg, $clr-cal-free 50%, $clr-cal-full 50%);
    }

    .departure {
        background: linear-gradient(90deg, $clr-cal-full 50%, $clr-cal-free 50%);
    }

    .scrollwrapper {
        display: grid;
        overflow: hidden;
    }

    .flex-container {
        display: grid;
        grid-auto-flow: column;
        grid-gap: .5rem;
        cursor: grab;
        border-bottom: .5rem solid $grey3;
    }

    .monthcal {
        display: grid;
    }

    &__month {
        height: 4rem;
        font-weight: bold;
        font-size: 1.6rem;
        text-transform: uppercase;
        background-color: $grey4;

        &:not(:empty) {
            padding-left: .8rem;
            @include icon-grid("\f073", 2rem, inherit);
        }
    }

    .daylist {
        display: grid;
        grid-auto-flow: column;
        grid-gap: .2rem;

        div {
            display: grid;
            place-items: center;
            width: 3rem;
            height: 6rem;
            font-size: 1.4rem;
            color: $white;
            text-align: center;
            background-color: $black;
        }
    }

    .status {
        display: grid;
        grid-auto-flow: column;
        grid-gap: .2rem;
        margin-top: .2rem;

        &>div {
            height: 3rem;
        }
    }
}