.personlist {
    @include form;
    display: grid;
    // grid-template-columns: min-content;
    grid-column: center-start / center-end;
    z-index: 2;

    align-content: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    grid-gap: 1rem;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: all 2s ease-in-out;

    @include mq(600) {
        position: absolute;
        top: 5rem;
        margin-top: 1rem;
        width: 100%;
        height: initial;
        padding: 2rem 0;
        // align-content: initial;
        // position: relative;
        // max-width: 30rem;
        // max-height: 50rem;
        // width: initial;
        // max-width: 100%;
        // display: none;
    }

    &--show {
        visibility: visible;
        opacity: 1;
        cursor: initial;
        // display: grid;
        // transition: opacity 2s ease-in-out;
    }

    &--book {
        // display: none;
        // opacity: 0;
        // visibility: initial;
        // position: relative;
        // width: 100%;
        // max-width: 100%;
    }

    &__adult,
    &__child {
        font-weight: $fw-sb;
    }

    &__age {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr repeat(3, auto);
        grid-gap: 1rem;
        align-items: center;
    }

    &__minus,
    &__plus {
        cursor: pointer;
        border: .1rem solid $clr-primary;
        border-radius: 50%;
        width: 3.2rem;
        height: 3.2rem;
        font-weight: $fw-eb;

        &--disabled {
            cursor: not-allowed;
            border: .1rem solid $grey3;
            // color: $grey3;
        }
    }

    &__person-submit {
        // @include btn-primary;
        margin-top: 1rem;
    }
}