.poi {
    @include content-center;
    max-width: $center-text;
    margin-bottom: $spacer;

    .h1 {
        margin: 0 0 2rem;
    }

    .h2 {
        margin: 3rem 0 1rem;
    }

    .a {
        @include txtLink;
    }

    &__overview {
        margin-bottom: $spacer-top;
    }

    &__button {
        display: grid;
        grid-gap: 1rem;

        @include mq(500) {
            grid-template-columns: auto auto;
        }
    }

    &__googlemaps {
        @include btn-primary;
    }

    &__pano {
        @include btn-primary;
    }

    &__email {
        @include btn-primary;
    }
}