.slider {
    background-color: $black;

    .slider__main {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        border: 0;
        height: calc(100vh - 11.2rem);
        max-width: calc((100vh - 11.2rem)*1.5);

        @media only screen and (min-width: 130vh) {
            // calc in media-queries doesn't work
            // padding: .8rem;
        }
        
        @media only screen and (orientation: portrait) {
            height: 100vw;
            max-height: calc(100vh - 11.2rem);
        }
        
        &--ibe {
            height: calc(100vh - 3.9rem);
        }
    }
    .rsts-nav-bullets a {
        width: 1rem;
        margin: .8rem 0;

        @include mq(600) {
            width: 2rem;
            margin: .8rem .4rem;
        } 
    }
}

// .slide {
//     img {
//         width: 100%;
//         min-width: 3.2rem;
//         height: calc(100vh - 5rem);
//         // display: block;
//         object-fit: cover;
//         min-height: 47rem; // 470px
//     }
// }