.testimonial {
    display: grid;
    height: 30rem;
    grid-template-columns: [full-start] 1fr [center-start] auto [center-end] 1fr [full-end];
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    background-color: $blue;
    // min-height: 47rem;
    // margin-bottom: $spacer;

    &__img {
        grid-column: full-start / full-end;
        grid-row: 1 / -1;

        img {
            width: 100%;
            min-width: 3.2rem;
            height: 30rem;
            // display: block;
            object-fit: cover;
            // min-height: 47rem;
        }
    }

    &__slide {
        grid-column: full-start / full-end;
        grid-row: 1 / 2;
        align-self: center;
        text-align: center;

    }


}