.text {
    @include content-center;
    max-width: $center-text;
    padding-top: $spacer-top;

    &--anchor {
        padding-top: 5rem;
    }

    .h1,
    h1 {
        margin-bottom: 2rem;
    }

    .h2,
    h2 {
        margin: 3rem 0 1rem;

        a {
            // @include txtlink;
            text-decoration: none;
            color: $clr-text;
            cursor: default;
        }
    }

    .h3,
    h3 {
        margin: 3rem 0 1rem;
    }

    ol {
        margin-bottom: 2rem;
        padding-left: 2rem;

        li {
            padding: 1rem 0 1rem 1rem;
        }

        .lower-alpha {
            list-style-type: lower-alpha;
            padding-left: 3rem;
        }

        .compressed {
            padding: 0 0 0 1rem;
        }
    }

    
    ul {
        padding-left: 1.8rem;
        margin-bottom: 2rem;
    }
    
    a {
        @include txtlink;
    }
    // Login
    // input {
    //     @include form;
    //     text-align: left;
    // }

    // .formbody {
    //     display: grid;
    //     grid-gap: 1rem;
    // }

    // Comments
    // .ce_comments {
    //     .formbody {
    //         display: grid;
    //         grid-gap: 2rem;
    //         margin-top: $spacer-md;

    //         div:nth-of-type(3) {
    //             display: none;
    //             ;
    //         }
    //     }

    //     .widget-textarea {
    //         display: grid;

    //         .textarea {
    //             @include form;
    //             text-align: left;
    //         }
    //     }

    //     .widget-checkbox {
    //         display: none;
    //     }

    //     .submit {
    //         margin: 0;
    //     }

    //     .tl_confirm {
    //         @include txtStyle (1.8rem, $fw-b, 1.44, none);
    //         font-size: $default-font-size;
    //         font-weight: $fw-eb;
    //         border-radius: $radius;
    //         padding: 3rem;
    //         color: $white;
    //         background-color: $clr-confirm;
    //     }

    //     .comment_default {
    //         border: .2rem solid $clr-primary;
    //         border-radius: $radius;
    //         padding: 2rem;
    //         margin-bottom: $spacer-sm;

    //         .info {
    //             font-weight: $fw-b;
    //             margin: 0;
    //         }
    //     }
    // }
}