[id="header"] {

    z-index: 1000;
    text-transform: uppercase;
    @include txtStyle (1.4rem, $fw-b, 1.16, none);

    // Vertical navigation *********************************************
    // https://www.youtube.com/watch?v=8QKOaTYvYUA
    // changed this from the tutorial video to allow it to gain focus, making it tabbable

    .nav-toggle {
        position: absolute;
        top: -9999rem;
        left: -9999rem;
    }

    .nav-toggle:focus~.nav-toggle-label {
        outline: 3px solid $clr-primary;
    }

    .nav-toggle-label {
        position: absolute;
        z-index: 1100;
        top: 1rem;
        left: 1rem;
        height: 5rem;
        width: 5rem;
        border-radius: .5rem;
        display: grid;
        align-content: center;
        justify-content: center;
        background-color: $white;
        cursor: pointer;

        span,
        span::before,
        span::after {
            display: block;
            background: $clr-primary;
            height: .3rem;
            width: 2rem;
            border-radius: .3rem;
            position: relative;
        }

        span::before,
        span::after {
            content: '';
            position: absolute;
        }

        span::before {
            bottom: .7rem;
        }

        span::after {
            top: .7rem;
        }
    }

    nav {
        position: absolute;
        z-index: 2000;
        top: 0;
        left: -100%;
        background: rgb(37, 35, 29);
        width: 100%;
        height: 100%;
        padding: 0;
        transition: left .2s ease-out;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        a,
        strong.forward {
            color: $white;
            text-decoration: none;
            display: block;
            padding: 1.5rem;
            border-bottom: .1rem solid $grey2;

            @include mq(600) {
                color: $clr-text;
                border-bottom: initial;
            }
        }

        a:hover,
        strong.forward:hover {
            background-color: #181612;

            @include mq(600) {
                background-color: $white;
                color: $clr-primary;
            }
        }

        .active strong {
            color: $clr-primary;
            display: block;
            padding: 1.5rem;
            border-bottom: .1rem solid $grey2;
            background-color: #3d382f;

            @include mq(600) {
                border-bottom: initial;
                background-color: initial;
            }
        }

        .level_2 a,
        .level_2 strong {
            padding-left: 4rem;

            @include mq(600) {
                padding-left: 1.5rem;
            }
        }
    }

    .nav-toggle:checked~nav {
        left: 0;
    }

    // Horizontal navigation *********************************************
    // https://css-tricks.com/solved-with-css-dropdown-menus/
    @include mq(600) {
        border-bottom: .1rem solid $grey2;
        box-shadow: 0 0 1rem $clr-shadow;
        // @include txtStyle (1.3rem, $fw-eb, 1.16, none);

        .nav-toggle-label {
            display: none;
        }

        nav {
            // all: unset;
            position: initial;
            top: initial;
            left: initial;
            background: $white;
            width: initial;
            height: initial;
            transition: initial;
        }

        .level_1 {
            @include content-full;
            display: grid;
            grid-gap: .5rem;
            align-items: center;
            grid-auto-flow: column;
            grid-template-columns: max-content;
            justify-content: end;

            li {
                z-index: 3000;
            }
        }

        li {
            position: relative;
            margin: 0;
            background-color: white;
        }

        li.submenu>a,
        li.forward>strong {
            border-left: .1rem solid $white;
            border-right: .1rem solid $white;
            cursor: default;
        }

        li.submenu:hover>a,
        li.forward:hover>strong {
            border-left: .1rem solid $grey2;
            border-right: .1rem solid $grey2;
            color: $clr-text;

            &:before {
                content: '';
                position: absolute;
                top: -.1rem;
                left: 0;
                right: 0;
                height: .5rem;
                background-color: $clr-primary;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -.1rem;
                left: .1rem;
                right: .1rem;
                height: .1rem;
                background-color: $white;
                z-index: 3500;
            }
        }

        // li:hover,
        // li:focus-within {
        //     background: $clr-primary;
        //     cursor: pointer;
        // }

        ul li ul {
            display: none; // Hover effefct for touch devices
            grid-template-columns: max-content;
            opacity: 0;
            // visibility: hidden;
            transition: opacity .3s;
            position: absolute;
            border-right: .1rem solid $grey2;
            border-top: .1rem solid $grey2;
            border-left: .1rem solid $grey2;

            li {
                border-bottom: .1rem solid $grey2;
            }
        }

        ul li:hover>ul,
        ul li:focus-within>ul,
        ul li ul:hover,
        ul li ul:focus-within {
            display: grid; // Hover effefct for touch devices
            opacity: 1;
            // visibility: visible;
        }

        // ul li:active>ul { // Link doesn't work anymore
            // display: none;
            // opacity: 0;
        // }

        strong.active,
        strong.active.first,
        strong.active.last,
        strong.forward.trail,
        a.submenu.trail {
            color: $clr-primary;
        }
    }
}