*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 75em) {
  html {
    font-size: 68%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 83%;
  }
}
@media print {
  html {
    font-size: 40%;
  }
}
html table {
  border-collapse: collapse;
  border-spacing: 0;
}

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.1rem;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1rem;
}

body {
  min-width: 32rem;
}

::placeholder {
  color: hsl(0deg, 0%, 28%);
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local("Nunito Sans Regular"), local("NunitoSans-Regular"), url("../fonts/nunito-sans/nunito-sans-v3-latin-regular.woff2") format("woff2"), url("../fonts/nunito-sans/nunito-sans-v3-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local("Nunito Sans SemiBold"), local("NunitoSans-SemiBold"), url("../fonts/nunito-sans/nunito-sans-v3-latin-600.woff2") format("woff2"), url("../fonts/nunito-sans/nunito-sans-v3-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local("Nunito Sans Bold"), local("NunitoSans-Bold"), url("../fonts/nunito-sans/nunito-sans-v3-latin-700.woff2") format("woff2"), url("../fonts/nunito-sans/nunito-sans-v3-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: local("Nunito Sans ExtraBold"), local("NunitoSans-ExtraBold"), url("../fonts/nunito-sans/nunito-sans-v3-latin-800.woff2") format("woff2"), url("../fonts/nunito-sans/nunito-sans-v3-latin-800.woff") format("woff");
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?gz46ze");
  src: url("../fonts/icomoon/icomoon.eot?gz46ze#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?gz46ze") format("truetype"), url("../fonts/icomoon/icomoon.woff?gz46ze") format("woff"), url("../fonts/icomoon/icomoon.svg?gz46ze#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  hyphens: auto;
  color: hsl(0deg, 0%, 28%);
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.16;
  hyphens: auto;
  color: hsl(209deg, 100%, 40%);
}
@media only screen and (min-width: 75em) {
  h1 {
    font-size: 3.8rem;
  }
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 1.13;
  hyphens: auto;
  color: hsl(0deg, 0%, 28%);
}
@media only screen and (min-width: 75em) {
  h2 {
    font-size: 3.2rem;
  }
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.25;
  hyphens: none;
  color: hsl(0deg, 0%, 28%);
}

h4 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.44;
  hyphens: none;
  color: hsl(0deg, 0%, 28%);
}

h5 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.44;
  hyphens: none;
  color: hsl(0deg, 0%, 28%);
}

a {
  font-family: "Nunito Sans", sans-serif;
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
  hyphens: inherit;
  color: hsl(209deg, 100%, 40%);
}
a:link, a:visited {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover, a:focus {
  cursor: pointer;
  text-decoration-line: underline;
}
a:active {
  text-decoration: none;
}

.h3--question {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  grid-gap: 1rem;
  margin: 4rem 0 2rem;
}
.h3--question::before {
  content: "?";
  font-size: 2rem;
  background-color: hsl(209deg, 100%, 40%);
  color: hsl(0deg, 0%, 100%);
  display: inline-block;
  padding: 0.9rem;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  text-align: center;
}

.text h1 {
  margin: 0 0 3rem;
}
.text h2,
.text h3,
.text h4,
.text h5 {
  margin: 0 0 1rem;
}
.text p {
  margin: 0 0 2rem;
}
.text ul,
.text ol {
  margin: 0 0 0 4rem;
}
.text li {
  margin: 0 0 1rem;
  padding-left: 0.5rem;
}
.text ul ul,
.text ul ol,
.text ol ul,
.text ol ol {
  list-style-type: lower-alpha;
  margin-left: 2.5rem;
}

.cc {
  width: calc(98% - 1rem);
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.cf {
  width: calc(98% - 1rem);
  margin-left: auto;
  margin-right: auto;
}

.ct {
  width: calc(98% - 1rem);
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

.mb {
  margin-bottom: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-sm {
  margin-bottom: 1rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 6rem;
}

.mb-xxl {
  margin-bottom: 10rem;
}

.mt {
  margin-top: 3rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-sm {
  margin-top: 1rem;
}

.mt-md {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 4rem;
}

.mt-xl {
  margin-top: 6rem;
}

.mt-xxl {
  margin-top: 10rem;
}

.pt-sm {
  padding-top: 1rem;
}

.pt-md {
  padding-top: 3rem;
}

.pt-lg {
  padding-top: 4rem;
}

.pt-xl {
  padding-top: 5rem;
}

.pt-xxl {
  padding-top: 6rem;
}

.user-select-text * {
  user-select: text;
}

.header {
  height: 6rem;
  background-color: hsl(0deg, 0%, 17%);
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.header__logo-link {
  display: block;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
}
.header__logo {
  width: 4rem;
  height: auto;
}
.header__navigation {
  height: 100%;
}
.header__toggle {
  display: none;
}
.header__label {
  width: 6rem;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  opacity: 0.8;
  transition: opacity 100ms ease-in-out;
  cursor: pointer;
}
.header__label:hover {
  opacity: 1;
}
.header__span, .header__span::before, .header__span::after {
  display: block;
  background-color: hsl(0deg, 0%, 100%);
  height: 0.1rem;
  width: 1.7rem;
  border-radius: 0.1rem;
  position: relative;
}
.header__span::before, .header__span::after {
  content: "";
  position: absolute;
  transition: all 0.2s;
}
.header__span::before {
  bottom: 0.7rem;
}
.header__span::after {
  top: 0.7rem;
}
.header__toggle:checked + .header__label .header__span {
  background-color: transparent;
}
.header__toggle:checked + .header__label .header__span::before {
  top: 0;
  transform: rotate(135deg);
}
.header__toggle:checked + .header__label .header__span::after {
  top: 0;
  transform: rotate(-135deg);
}
.header__nav {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: hsl(0deg, 0%, 17%);
  width: 100%;
  height: 100vh;
  transform: scale(1, 0);
  transition: transform 0.15s ease-in-out;
  transform-origin: top;
}
.header__nav a,
.header__nav strong.active {
  font-weight: 400;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  display: block;
  height: 6rem;
  display: grid;
  align-items: center;
}
.header__nav a {
  opacity: 0.8;
  transition: opacity 100ms ease-in-out;
}
.header__nav a:hover {
  opacity: 1;
}
.header__nav strong.active {
  opacity: 0.4;
  cursor: initial;
}
.header__nav--login .last a,
.header__nav--login .last strong {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
  justify-content: center;
}
.header__nav--login .last a::before,
.header__nav--login .last strong::before {
  content: "\f08b";
  font-size: inherit;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.header__nav--login .first.last {
  display: none;
}
.header__toggle:checked ~ .header__nav {
  transform: scale(1, 1);
  background-color: hsl(0deg, 0%, 17%);
}
.header__list {
  margin: 10rem 0 0 0;
  list-style: none;
}
.header__item {
  margin: 0 20vw;
  border-bottom: 0.1rem solid hsla(0deg, 0%, 100%, 0.3);
}
@media only screen and (min-width: 50em) {
  .header {
    grid-template-columns: 1fr auto auto 1fr;
    grid-gap: 3rem;
    justify-content: space-between;
  }
  .header__logo-box {
    grid-column: 2/3;
  }
  .header__navigation {
    grid-column: 3/4;
  }
  .header__label {
    display: none;
  }
  .header__nav {
    position: initial;
    top: initial;
    left: initial;
    background-color: initial;
    width: initial;
    height: initial;
    transform: initial;
    transition: initial;
    transform-origin: initial;
    height: 100%;
  }
  .header__nav a,
.header__nav strong.active {
    font-weight: 400;
    padding: 0 1rem;
  }
  .header__list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 3rem;
    align-items: center;
    margin: 0;
    height: 100%;
  }
  .header__item {
    margin: 0;
    padding: 0;
    border-bottom: none;
  }
}
@media print {
  .header {
    display: none;
  }
}

.footer {
  margin-top: 4rem;
  padding: 3rem 0 0;
  position: relative;
}
@media only screen and (min-width: 34.375em) {
  .footer {
    border-top: 0.1rem solid #bbbbbb;
  }
}
@media print {
  .footer {
    display: none;
  }
}
.footer__navigation {
  width: calc(98% - 1rem);
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-column-gap: 4rem;
}
@media only screen and (min-width: 34.375em) {
  .footer__navigation {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
  }
}
@media only screen and (min-width: 50em) {
  .footer__navigation {
    padding-right: 20rem;
  }
}
@media only screen and (min-width: 62.5em) {
  .footer__navigation {
    padding-right: 0;
  }
}
.footer__navigation .heading-5 {
  padding: 0.3rem 0;
  border-top: 0.1rem solid #cccccc;
  border-bottom: 0.1rem solid #cccccc;
}
@media only screen and (min-width: 34.375em) {
  .footer__navigation .heading-5 {
    grid-row: 1;
    border-top: unset;
    border-bottom: unset;
  }
}
@media only screen and (min-width: 34.375em) {
  .footer__list {
    grid-row: 2;
  }
}
.footer__list ul {
  list-style: none;
  padding: 1rem;
  margin: 0;
}
@media only screen and (min-width: 25em) {
  .footer__list ul {
    padding: 0;
  }
}
.footer__list ul strong {
  font-weight: 400;
  font-size: 1.4rem;
  color: hsl(0deg, 0%, 33%);
}
.footer__list a:link,
.footer__list a:visited {
  display: inline-block;
  padding: 0.3rem 0;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1.4rem;
  color: hsl(0deg, 0%, 33%);
  transition: color 0.2s ease-in-out;
}
.footer__list a:hover,
.footer__list a:active {
  text-decoration: underline;
}
.footer__partner {
  display: block;
  height: 10rem;
  margin-top: 3rem;
  background-image: url(../img/partner.svg), linear-gradient(to right, hsl(209deg, 100%, 40%) calc(100% - 15rem), #003566 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (min-width: 50em) {
  .footer__partner {
    margin-top: 0;
    position: absolute;
    bottom: -4rem;
    width: 100%;
    background-position: 100% 100%;
    clip-path: polygon(0% 83%, calc(100% - 21rem) 83%, calc(100% - 19rem) 0%, 100% 0%, 100% 100%, 0 100%);
  }
}

.anchor {
  z-index: 2;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  border-bottom: 0.1rem solid #bbbbbb;
  box-shadow: 0 0 1rem hsla(0deg, 0%, 0%, 0.2);
  position: sticky;
  top: 0;
  height: 5.4rem;
  background-color: hsl(0deg, 0%, 100%);
}
.anchor li > .active,
.anchor li > a.active {
  font-weight: 800;
  font-size: 1.4rem;
  color: hsl(0deg, 0%, 28%);
}
.anchor a:link,
.anchor a:visited {
  padding: 1.5rem 1rem;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: inherit;
  hyphens: none;
  color: #6c6c6c;
  transition: color 0.2s ease-in-out;
}
.anchor a:hover,
.anchor a:active {
  color: hsl(0deg, 0%, 28%);
}
.anchor__image, .anchor__slider {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.anchor__image::before, .anchor__slider::before {
  content: "\e90e";
  font-size: 1.7rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.anchor__description {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.anchor__description::before {
  content: "\f036";
  font-size: 1.7rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.anchor__location {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.anchor__location::before {
  content: "\f041";
  font-size: 1.7rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.anchor__accomodation {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.anchor__accomodation::before {
  content: "\e8f0";
  font-size: 1.7rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.anchor__book {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.anchor__book::before {
  content: "\f07a";
  font-size: 1.7rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.anchor__cal, .anchor__cal1 {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.anchor__cal::before, .anchor__cal1::before {
  content: "\f073";
  font-size: 1.7rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.anchor__features {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.anchor__features::before {
  content: "\e936";
  font-size: 1.7rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.anchor__price {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.anchor__price::before {
  content: "\e93c";
  font-size: 1.7rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.anchor__comments {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.anchor__comments::before {
  content: "\e96e";
  font-size: 1.7rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.anchor a {
  grid-gap: 0;
}
@media only screen and (min-width: 37.5em) {
  .anchor a {
    grid-gap: 1rem;
  }
}
.anchor span {
  display: none;
}
@media only screen and (min-width: 37.5em) {
  .anchor span {
    display: initial;
  }
}
@media only screen and (min-width: 37.5em) {
  .anchor {
    justify-content: center;
    grid-gap: 3rem;
  }
}
.anchor--2 a {
  grid-gap: 0;
}
@media only screen and (min-width: 50em) {
  .anchor--2 a {
    grid-gap: 1rem;
  }
}
.anchor--2 span {
  display: none;
}
@media only screen and (min-width: 50em) {
  .anchor--2 span {
    display: initial;
  }
}
@media only screen and (min-width: 50em) {
  .anchor--2 {
    justify-content: center;
    grid-gap: 3rem;
  }
}

@media only screen and (min-width: 65.625em) {
  .book {
    position: sticky;
    top: 1rem;
  }
}
.book__container {
  display: grid;
  grid-gap: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid hsl(209deg, 100%, 40%);
  padding: 2rem;
}
.book__header {
  justify-self: center;
  line-height: 1;
}
.book__price {
  font-size: 2.8rem;
}
.book__details {
  font-size: 1.2rem;
  text-align: center;
}

.cal__wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
}
.cal__legend {
  display: grid;
  align-content: start;
  padding-top: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #cccccc;
}
.cal__description {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  padding-right: 0.1rem;
}
.cal__box-available {
  width: 1.5rem;
  height: 2.5rem;
  margin: 0.1rem 1rem;
  background: hsl(75deg, 62%, 37%);
}
.cal__box-occupied {
  width: 1.5rem;
  height: 2.5rem;
  margin: 0.1rem 1rem;
  background: hsl(14deg, 95%, 42%);
}
.cal__accomodations {
  display: grid;
  grid-template-columns: max-content;
  grid-gap: 0.5rem;
  padding: 1rem;
}
.cal__accommodation {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.cal__accommodation::before {
  content: "\f07a";
  font-size: 1.7rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.cal__accommodation:hover {
  text-decoration-line: none;
}
.cal__container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  align-content: start;
  justify-content: start;
  overflow-x: scroll;
}
.cal__item {
  display: grid;
  align-content: start;
}
.cal__item tr {
  display: grid;
}
.cal__title {
  font-weight: bold;
  font-size: 2.2rem;
  background-color: #cccccc;
}
.cal__title:not(:empty) {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
  padding-left: 1rem;
}
.cal__title:not(:empty)::before {
  content: "\f073";
  font-size: 1.7rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.cal__daylist {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.2rem;
}
.cal__daylist > th {
  display: grid;
  align-items: center;
  text-align: center;
  width: 3rem;
  height: 6rem;
  font-size: 1.4rem;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 28%);
}
.cal__status {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.2rem;
  margin-top: 0.2rem;
}
.cal__status td {
  height: 3rem;
}
.cal__available {
  background-color: hsl(75deg, 62%, 37%);
}
.cal__occupied {
  height: 3rem;
  background-color: hsl(14deg, 95%, 42%);
}
.cal__occupied--start {
  background: linear-gradient(135deg, hsl(75deg, 62%, 37%) 50%, hsl(14deg, 95%, 42%) 50%);
}
.cal__occupied--end {
  background: linear-gradient(135deg, hsl(14deg, 95%, 42%) 50%, hsl(75deg, 62%, 37%) 50%);
}
.cal__occupied--change {
  background: linear-gradient(135deg, hsl(14deg, 95%, 42%) 48%, #cccccc 48%, #cccccc 52%, hsl(14deg, 95%, 42%) 52%);
}

.cal1__header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: center;
}
.cal1__previous {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.cal1__previous::before {
  content: "\f104";
  font-size: 3rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.cal1__previous, .cal1__previous:link, .cal1__previous:visited {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: inherit;
  hyphens: none;
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  text-align: center;
  display: block;
  border: 0.2rem solid hsl(209deg, 100%, 40%);
  border-radius: 0.5rem;
  padding: 1rem 0;
  background-color: hsl(209deg, 100%, 40%);
  width: 100%;
  cursor: pointer;
  white-space: normal;
  transition: background-color 0.2s ease-in-out;
  min-width: 5rem;
}
.cal1__previous:hover, .cal1__previous:focus, .cal1__previous:active {
  cursor: pointer;
  background-color: #005fb8;
  border: 0.2rem solid #005fb8;
}
.cal1__previous:disabled {
  background-color: #66b5ff;
  cursor: not-allowed;
}
.cal1__previous--disabled, .cal1__previous--disabled:hover {
  background-color: #a3d3ff;
  border: #a3d3ff;
  cursor: auto;
}
.cal1__message {
  font-family: "Nunito Sans", sans-serif;
  font-size: inherit;
  font-weight: 700;
  line-height: 1;
  hyphens: auto;
  color: hsl(209deg, 100%, 40%);
}
.cal1__next {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.cal1__next::before {
  content: "\f105";
  font-size: 3rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.cal1__next, .cal1__next:link, .cal1__next:visited {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: inherit;
  hyphens: none;
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  text-align: center;
  display: block;
  border: 0.2rem solid hsl(209deg, 100%, 40%);
  border-radius: 0.5rem;
  padding: 1rem 0;
  background-color: hsl(209deg, 100%, 40%);
  width: 100%;
  cursor: pointer;
  white-space: normal;
  transition: background-color 0.2s ease-in-out;
  min-width: 5rem;
}
.cal1__next:hover, .cal1__next:focus, .cal1__next:active {
  cursor: pointer;
  background-color: #005fb8;
  border: 0.2rem solid #005fb8;
}
.cal1__next:disabled {
  background-color: #66b5ff;
  cursor: not-allowed;
}
.cal1__next--disabled {
  background-color: #a3d3ff;
  border: #a3d3ff;
}
.cal1__items {
  display: grid;
  grid-gap: 3rem;
  align-items: start;
  pointer-events: none;
}
@media only screen and (min-width: 40.625em) {
  .cal1__items {
    grid-auto-flow: column;
  }
}
.cal1__items--hover {
  pointer-events: all;
}
.cal1__item {
  display: grid;
}
.cal1__item:nth-of-type(2) {
  display: none;
}
@media only screen and (min-width: 40.625em) {
  .cal1__item:nth-of-type(2) {
    display: grid;
  }
}
.cal1__head {
  display: grid;
}
.cal1__title {
  justify-self: center;
}
.cal1__daylist {
  display: grid;
  grid-auto-flow: column;
}
.cal1__status {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.2rem;
  margin-top: 0.2rem;
}
.cal1__status td {
  display: grid;
  align-items: center;
  justify-content: center;
  color: hsl(0deg, 0%, 100%);
  height: 3rem;
}
.cal1__past {
  background-color: #bbbbbb;
}
.cal1__available {
  background-color: hsl(75deg, 62%, 37%);
  transition: background-color 0.2s ease-in-out;
}
.cal1__available:hover {
  background: hsl(209deg, 100%, 40%);
  cursor: pointer;
}
.cal1__available-disabled {
  background-color: rgba(124, 153, 36, 0.5);
  transition: background-color 0.2s ease-in-out;
}
.cal1__available-disabled:hover {
  background-color: rgba(0, 105, 204, 0.5);
}
.cal1__occupied {
  height: 3rem;
  background-color: hsl(14deg, 95%, 42%);
}
.cal1__arrival {
  background: linear-gradient(135deg, hsl(75deg, 62%, 37%) 50%, hsl(14deg, 95%, 42%) 50%);
}
.cal1__departure {
  background: linear-gradient(135deg, hsl(14deg, 95%, 42%) 50%, hsl(75deg, 62%, 37%) 50%);
}
.cal1__departure:hover {
  background: hsl(209deg, 100%, 40%);
  cursor: pointer;
}
.cal1__change {
  background: linear-gradient(135deg, hsl(14deg, 95%, 42%) 48%, #cccccc 48%, #cccccc 52%, hsl(14deg, 95%, 42%) 52%);
}
.cal1__marked {
  background-color: hsl(209deg, 100%, 40%);
}
.cal1__marked-disabled {
  background-color: rgba(0, 105, 204, 0.5);
}
.cal1--modal-off {
  display: none;
}
.cal1--modal-on {
  display: grid;
  grid-gap: 1rem;
  position: absolute;
  top: 120%;
  z-index: 2;
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
  border: 0.1rem solid hsl(209deg, 100%, 40%);
  border-radius: 0.5rem;
  padding: 1rem;
  pointer-events: all;
}

.calc {
  display: grid;
  grid-row-gap: 1rem;
}
.calc__title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1;
  hyphens: auto;
  color: hsl(0deg, 0%, 28%);
  margin-bottom: 1rem;
}
.calc__table {
  display: grid;
}
.calc__items {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-row-gap: 0.2rem;
}
.calc__item {
  display: contents;
}
.calc__designation--total {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1;
  hyphens: auto;
  color: hsl(0deg, 0%, 28%);
  padding: 2rem 0;
  border-top: 0.1rem solid #bbbbbb;
  border-bottom: 0.1rem solid #bbbbbb;
}
.calc__description {
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  hyphens: auto;
  color: #bbbbbb;
}
.calc__price {
  justify-self: end;
}
.calc__price--total {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1;
  hyphens: auto;
  color: hsl(0deg, 0%, 28%);
  padding: 2rem 0;
  border-top: 0.1rem solid #bbbbbb;
  border-bottom: 0.1rem solid #bbbbbb;
}

.form {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2rem;
}
@media only screen and (min-width: 35.625em) {
  .form--book {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 65.625em) {
  .form--book {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 87.5em) {
  .form--book {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 35.625em) {
  .form--contact {
    grid-template-columns: repeat(2, 1fr);
  }
}
.form__group {
  position: relative;
  display: grid;
}
.form__group--person {
  grid-column: 1/-1;
}
.form__group--fullwidth {
  grid-column: 1/-1;
}
.form__label {
  position: absolute;
  top: -0.8rem;
  left: 0.8rem;
  padding: 0 0.5rem;
  touch-action: manipulation;
  transition: all 0.2s;
}
.form__input {
  appearance: none;
  display: block;
  user-select: initial;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  color: hsl(0deg, 0%, 28%);
  text-align: left;
  hyphens: initial;
  width: 100%;
  padding: 1.2rem;
  border: 0.1rem solid #bbbbbb;
  border-radius: 0.5rem;
  background-color: hsla(0deg, 0%, 100%, 0);
  cursor: text;
}
.form__input:focus {
  outline: none;
  border: 0.1rem solid hsl(209deg, 100%, 40%);
  background-color: hsla(0deg, 0%, 100%, 0);
}
.form__input--textarea {
  resize: vertical;
  min-height: 30rem;
  display: block;
}
.form__input::placeholder {
  color: #bbbbbb;
  opacity: 0;
  transition: all 0.2s;
}
.form__input:placeholder-shown + label {
  transform: translate(0, 2rem);
  color: #bbbbbb;
  cursor: text;
  z-index: -1;
}
.form__input:not(:placeholder-shown) + label, .form__input:focus + label {
  transform: translate(0, 0);
  color: hsl(209deg, 100%, 40%);
  font-weight: 700;
  font-size: 80%;
  background-color: white;
  cursor: pointer;
  z-index: 1;
}
.form__mandatory {
  display: none;
}
.form--comments {
  width: calc(98% - 1rem);
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  margin-top: 4rem;
}
.form p.error {
  grid-row: 2;
  color: hsl(14deg, 95%, 42%);
}
.form .sr-only {
  display: none;
}
.form__submit {
  grid-column: 1/-1;
}
.form__select {
  appearance: none;
  display: block;
  user-select: initial;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  color: hsl(0deg, 0%, 28%);
  text-align: left;
  hyphens: initial;
  width: 100%;
  padding: 1.2rem;
  border: 0.1rem solid #bbbbbb;
  border-radius: 0.5rem;
  background-color: hsla(0deg, 0%, 100%, 0);
  cursor: text;
}
.form__select:focus {
  outline: none;
  border: 0.1rem solid hsl(209deg, 100%, 40%);
  background-color: hsla(0deg, 0%, 100%, 0);
}
.form__select--label {
  display: none;
}

.btn, .btn:link, .btn:visited {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: inherit;
  hyphens: none;
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  text-align: center;
  display: block;
  border: 0.2rem solid hsl(209deg, 100%, 40%);
  border-radius: 0.5rem;
  padding: 1rem 0;
  background-color: hsl(209deg, 100%, 40%);
  width: 100%;
  cursor: pointer;
  white-space: normal;
  transition: background-color 0.2s ease-in-out;
  min-width: 5rem;
}
.btn:hover, .btn:focus, .btn:active {
  cursor: pointer;
  background-color: #005fb8;
  border: 0.2rem solid #005fb8;
}
.btn:disabled {
  background-color: #66b5ff;
  cursor: not-allowed;
}
.btn--back {
  margin-top: 3rem;
}
.btn--faq {
  margin-top: 3rem;
}
.btn--insurance {
  margin-top: 3rem;
}
.btn--submit {
  grid-column: 1/-1;
}
.btn--white, .btn--white:link, .btn--white:visited {
  color: hsl(209deg, 100%, 40%);
  background-color: hsl(0deg, 0%, 100%);
}
.btn--disabled, .btn--disabled:link, .btn--disabled:visited, .btn--disabled:hover, .btn--disabled:focus, .btn--disabled:active {
  background-color: hsl(14deg, 95%, 42%);
  cursor: default;
  border: 0.2rem solid hsl(14deg, 95%, 42%);
}

.features__container {
  display: grid;
  grid-gap: 0.2rem;
}
.features__item {
  padding: 1rem;
}
.features__item:nth-child(odd) {
  background-color: #c2e1ff;
  border-top: 0.2rem solid hsl(209deg, 100%, 40%);
  border-bottom: 0.2rem solid hsl(209deg, 100%, 40%);
}
.features__list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.gallery__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  grid-gap: 1rem;
}
.gallery__item {
  display: grid;
  grid-template-columns: 1fr min-content;
}
.gallery__like {
  grid-column: 2;
  grid-row: 1;
  z-index: 2;
  cursor: pointer;
  padding: 1.5rem;
}
.gallery__like::before {
  content: "\f08a";
  font-size: 3rem;
  color: hsl(0deg, 0%, 100%);
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.gallery__like--active::before {
  content: "\f004";
  font-size: 3rem;
  color: hsl(0deg, 0%, 100%);
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.gallery__img-link {
  grid-column: 1/-1;
  grid-row: 1/3;
  cursor: pointer;
}
.gallery__img-link img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.gallery__title {
  grid-column: 1/-1;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 2.2;
  hyphens: auto;
  color: hsl(0deg, 0%, 28%);
  margin: 0;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}
.grid--book {
  grid-gap: 3rem;
}
@media only screen and (min-width: 65.625em) {
  .grid--book {
    grid-template-columns: 1fr max-content;
  }
}
.grid--book2 {
  grid-column: 1/-1;
}
.grid__col1 {
  display: grid;
  align-content: start;
}
.grid__col1--gap {
  grid-gap: 5rem;
}

.hero {
  display: grid;
  height: calc(100vh - 14.5rem);
  grid-template-columns: [full-start] 1fr [center-start] auto [center-end] 1fr [full-end];
  grid-template-rows: 2vh 1fr auto 1fr;
  grid-gap: 2rem;
  background-color: hsl(209deg, 100%, 40%);
  min-height: 47rem;
  margin-bottom: 4rem;
}
.hero__img {
  grid-column: full-start/full-end;
  grid-row: 1/-1;
}
.hero__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 3.2rem;
  height: calc(100vh - 14.9rem);
  min-height: 47rem;
}
.hero__title {
  grid-column: center-start/center-end;
  grid-row: 2;
  align-self: start;
  text-align: center;
}
.hero__title--main {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 1.2;
  hyphens: none;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 0.1rem;
  text-shadow: 0.2rem 0.2rem 0.3rem hsl(0deg, 0%, 28%);
  display: block;
}
@media only screen and (min-width: 20em) {
  .hero__title--main {
    font-size: 8vw;
  }
}
@media only screen and (min-width: 37.5em) {
  .hero__title--main {
    font-size: 5.5rem;
  }
}
.hero__title--sub {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 1.2;
  hyphens: none;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 0.1rem;
  text-shadow: 0.2rem 0.2rem 0.3rem hsl(0deg, 0%, 28%);
  display: block;
}
@media only screen and (min-width: 20em) {
  .hero__title--sub {
    font-size: 5.3vw;
  }
}
@media only screen and (min-width: 37.5em) {
  .hero__title--sub {
    font-size: 3.24rem;
  }
}
.hero__form {
  grid-column: center-start/center-end;
  grid-row: 3;
  background-color: hsl(0deg, 0%, 100%);
  padding: 2rem;
  border-radius: 0.5rem;
  justify-self: center;
}
@media only screen and (min-width: 35.625em) {
  .hero__form {
    grid-template-columns: repeat(2, max-content);
  }
}
@media only screen and (min-width: 87.5em) {
  .hero__form {
    grid-template-columns: auto auto 14rem auto;
  }
}
.hero__submit {
  grid-column: 1/-1;
  max-width: 30rem;
  justify-self: center;
}

.image--poi img {
  display: block;
  width: 100%;
  min-width: 3.2rem;
  height: calc(100vh - 11.2rem);
  object-fit: cover;
}
@media only screen and (orientation: portrait) {
  .image--poi img {
    height: 100vw;
    max-height: calc(100vh - 11.2rem);
  }
}

.intro {
  display: grid;
  grid-row-gap: 4rem;
}
@media only screen and (min-width: 56.25em) {
  .intro {
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    align-items: center;
  }
}
.intro__img img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0.5rem;
}
@media only screen and (min-width: 56.25em) {
  .intro__communities {
    grid-column: 2;
  }
}
@media only screen and (min-width: 56.25em) {
  .intro__overview {
    grid-column: 1;
    grid-row: 2;
  }
}

.location__map {
  border: 0.1rem solid #cccccc;
}
.location__map img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.location__items {
  display: grid;
}
.location__item,
.location tr {
  display: grid;
  grid-auto-flow: column;
}
.location__item td,
.location tr td {
  padding: 0.5rem;
}
.location__item td:nth-child(2),
.location tr td:nth-child(2) {
  text-align: right;
}
.location tr:nth-child(odd) td {
  background-color: #c2e1ff;
  border-top: 0.2rem solid hsl(209deg, 100%, 40%);
  border-bottom: 0.2rem solid hsl(209deg, 100%, 40%);
}

.optional__items {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-gap: 1rem;
  align-items: center;
}
.optional__item {
  display: contents;
}
.optional__description {
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  hyphens: auto;
  color: #bbbbbb;
}
.optional__price {
  justify-self: end;
}

.overview__items {
  display: grid;
}
@media only screen and (min-width: 25em) {
  .overview__items {
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 2rem;
    grid-row-gap: 0;
  }
}
@media only screen and (min-width: 40.625em) {
  .overview__items {
    grid-template-columns: repeat(4, max-content);
    grid-column-gap: 2rem;
    grid-row-gap: 0;
  }
}
.overview__number {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.overview__number::before {
  content: "\e900";
  font-size: 2rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.overview__person {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.overview__person::before {
  content: "\f007";
  font-size: 2rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.overview__bedroom {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.overview__bedroom::before {
  content: "\f236";
  font-size: 2rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.overview__bathroom {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.overview__bathroom::before {
  content: "\f2cd";
  font-size: 2rem;
  color: inherit;
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}

.person--modal-off {
  display: none;
}
.person--modal-on {
  display: grid;
  grid-gap: 1rem;
  position: absolute;
  top: 120%;
  z-index: 2;
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
  border: 0.1rem solid hsl(209deg, 100%, 40%);
  border-radius: 0.5rem;
  padding: 1rem;
}
.person__group {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) 5rem 1.5rem 5rem;
  align-items: center;
  grid-gap: 1rem;
}
.person__decrease, .person__increase {
  border: 0.1rem solid hsl(209deg, 100%, 40%);
  border-radius: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}
.person__decrease--disabled, .person__increase--disabled {
  border: 0.1rem solid #bbbbbb;
}
.person__quantity {
  text-align: center;
  border: none;
}
.person__age {
  display: grid;
  grid-gap: 1rem;
}

.price__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
}
.price__item {
  background-color: #c2e1ff;
  border: 0.2rem solid hsl(209deg, 100%, 40%);
  border-radius: 0.5rem;
  padding: 1rem;
}
.price__item div {
  padding: 1rem;
}
@media only screen and (min-width: 75em) {
  .progress {
    width: calc(98% - 1rem);
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.progress__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.progress__item {
  display: grid;
  align-items: center;
}
.progress__line {
  grid-row: 1/2;
  grid-column: 1/-1;
  height: 2rem;
  background-color: hsl(75deg, 62%, 37%);
}
.progress__line--disabled {
  background-color: #c8e07d;
}
.progress__number {
  grid-row: 1/2;
  grid-column: 1/-1;
  justify-self: center;
  font-size: 2.4rem;
  color: white;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  background-color: hsl(75deg, 62%, 37%);
}
.progress__number--disabled {
  background-color: #c8e07d;
}
.progress__title {
  justify-self: center;
}

.service__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
}
.service__item {
  background-color: #c2e1ff;
  border: 0.2rem solid hsl(209deg, 100%, 40%);
  border-radius: 0.5rem;
  padding: 1rem;
}
.service__item h3,
.service__item p {
  padding: 1rem;
}
@media only screen and (min-width: 37.5em) {
  .usp {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 4rem;
    grid-row-gap: 3rem;
    max-width: 60rem;
  }
}
@media only screen and (min-width: 62.5em) {
  .usp {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0;
    max-width: 120rem;
  }
}
.usp .h2 {
  margin: 3rem 0 1rem;
  hyphens: none;
}
@media only screen and (min-width: 37.5em) {
  .usp .h2 {
    margin: 0;
  }
}
@media only screen and (min-width: 62.5em) {
  .usp .h2 {
    grid-row: 1;
    margin: 0 0 1rem;
  }
}
.usp .h2--host {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.usp .h2--host::before {
  content: "\f21e";
  font-size: inherit;
  color: hsl(209deg, 100%, 40%);
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.usp .h2--price {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.usp .h2--price::before {
  content: "\e901";
  font-size: inherit;
  color: hsl(209deg, 100%, 40%);
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.usp .h2--pano {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
}
.usp .h2--pano::before {
  content: "\e902";
  font-size: inherit;
  color: hsl(209deg, 100%, 40%);
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
@media only screen and (min-width: 62.5em) {
  .usp__text {
    grid-row: 2;
  }
}
.usp__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.usp__item {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  grid-gap: 1rem;
  align-items: baseline;
}
.usp__item::before {
  content: "\f00c";
  font-size: inherit;
  color: hsl(209deg, 100%, 40%);
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}

.slider__item {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  background-color: hsl(0deg, 0%, 33%);
}
.slider__prev {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  cursor: pointer;
  padding: 1.5rem;
}
.slider__prev::before {
  content: "\ea44";
  font-size: 3rem;
  color: hsl(0deg, 0%, 100%);
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.slider__next {
  grid-column: 3;
  grid-row: 1;
  z-index: 2;
  cursor: pointer;
  padding: 1.5rem;
}
.slider__next::before {
  content: "\ea42";
  font-size: 3rem;
  color: hsl(0deg, 0%, 100%);
  display: inline-block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  text-rendering: geometricPrecision;
}
.slider__img {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.slider img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: calc(100vh - 11.1rem);
}
@media only screen and (orientation: portrait) {
  .slider img {
    height: 100vw;
  }
}

/*# sourceMappingURL=main.css.map */
