.header {
  height: 6rem;

  background-color: $grey6;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  &__logo-link {
    display: block;
    width: 6rem;
    height: 6rem;
    padding: 1rem;
  }

  &__logo {
    width: 4rem;
    height: auto;
  }

  &__navigation {
    height: 100%;
  }

  &__toggle {
    display: none;
  }

  &__label {
    width: 6rem;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    opacity: 0.8;
    transition: opacity 100ms ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__span {
    &,
    &::before,
    &::after {
      display: block;
      background-color: $white;
      height: 1px;
      width: 1.7rem;
      border-radius: 1px;
      position: relative;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      transition: all 0.2s;
    }

    &::before {
      bottom: 7px;
    }

    &::after {
      top: 7px;
    }
  }

  // FUNCTIONALITY
  // https://www.udemy.com/course/advanced-css-and-sass/learn/lecture/8274524#search
  // hamburger-icon
  &__toggle:checked + &__label &__span {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(135deg);
    }

    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }

  &__nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $grey6;
    width: 100%;
    // height: calc(100vh - 15rem);
    height: 100vh;

    // Hide
    transform: scale(1, 0);
    transition: transform 0.15s ease-in-out;
    transform-origin: top;

    a,
    strong.active {
      font-weight: 400;
      text-align: center;
      color: $white;
      text-decoration: none;
      display: block;
      height: 6rem;
      display: grid;
      align-items: center;
    }

    a {
      opacity: 0.8;
      transition: opacity 100ms ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    strong.active {
      opacity: 0.4;
      cursor: initial;
    }

    // .last a,
    // .last strong {
    //   @include icon-grid("\f004", inherit, inherit);
    //   justify-content: center;
    // }

    &--login {
      .last a,
      .last strong {
        @include icon-grid("\f08b", inherit, inherit);
        justify-content: center;
      }

      .first.last {
        display: none;
      }
    }
  }

  &__toggle:checked ~ &__nav {
    // Show
    transform: scale(1, 1);
    background-color: $grey6;
  }

  &__list {
    margin: 10rem 0 0 0;
    list-style: none;
  }

  &__item {
    margin: 0 20vw;
    border-bottom: 0.1rem solid hsla(0, 0%, 100%, 0.3);
  }

  @include mq(800) {
    grid-template-columns: 1fr auto auto 1fr;
    grid-gap: 3rem;
    justify-content: space-between;

    &__logo-box {
      grid-column: 2 / 3;
    }

    &__navigation {
      grid-column: 3 / 4;
    }

    &__label {
      display: none;
    }

    &__nav {
      position: initial;
      top: initial;
      left: initial;
      background-color: initial;
      width: initial;
      height: initial;
      transform: initial;
      transition: initial;
      transform-origin: initial;
      height: 100%;

      a,
      strong.active {
        font-weight: 400;
        padding: 0 1rem;
      }
    }

    &__list {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 3rem;
      align-items: center;
      margin: 0;
      height: 100%;
    }

    &__item {
      margin: 0;
      padding: 0;
      border-bottom: none;
    }
  }

  @media print {
    display: none;
  }
}
