.footer {
  margin-top: $spacer-lg;
  padding: 3rem 0 0;
  position: relative;

  @include mq(550) {
    border-top: 0.1rem solid $grey2;
  }

  @media print {
    display: none;
  }

  &__navigation {
    @include content-center;
    display: grid;
    grid-column-gap: 4rem;

    @include mq(550) {
      grid-template-columns: repeat(3, max-content);
      justify-content: center;
    }

    @include mq(800) {
      padding-right: 20rem;
    }

    @include mq(1000) {
      padding-right: 0;
    }

    .heading-5 {
      padding: 0.3rem 0;
      border-top: 0.1rem solid $grey3;
      border-bottom: 0.1rem solid $grey3;

      @include mq(550) {
        grid-row: 1;
        border-top: unset;
        border-bottom: unset;
      }
    }
  }

  &__list {
    @include mq(550) {
      grid-row: 2;
    }

    ul {
      list-style: none;
      padding: 1rem;
      margin: 0;

      @include mq(400) {
        padding: 0;
      }

      strong {
        font-weight: $fw-n;
        font-size: 1.4rem;
        color: $grey1;
      }
    }

    a:link,
    a:visited {
      display: inline-block;
      padding: 0.3rem 0;
      text-decoration: none;
      font-family: $font-primary;
      letter-spacing: normal;
      font-weight: $fw-n;
      font-size: 1.4rem;
      color: $grey1;
      transition: color 0.2s ease-in-out;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }
  }

  &__partner {
    display: block;
    height: 10rem;
    margin-top: 3rem;

    // SVG background
    background-image: url(../img/partner.svg),
      linear-gradient(
        to right,
        $blue1 calc(100% - 15rem),
        darken($blue1, 20%) 100%
      );
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include mq(800) {
      margin-top: 0;
      position: absolute;
      bottom: -4rem;
      width: 100%;
      background-position: 100% 100%;
      clip-path: polygon(
        0% 83%,
        calc(100% - 21rem) 83%,
        calc(100% - 19rem) 0%,
        100% 0%,
        100% 100%,
        0 100%
      );
    }
  }
}
