.anchor {
  z-index: 2;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  border-bottom: 0.1rem solid $grey2;
  box-shadow: 0 0 1rem $clr-shadow;

  position: sticky;
  top: 0;
  height: 5.4rem;
  background-color: $white;

  @include menu-item;

  &__image,
  &__slider {
    @include icon-grid("\e90e", 1.7rem, inherit);
  }

  &__description {
    @include icon-grid("\f036", 1.7rem, inherit);
  }

  &__location {
    @include icon-grid("\f041", 1.7rem, inherit);
  }

  &__accomodation {
    @include icon-grid("\e8f0", 1.7rem, inherit);
  }

  &__book {
    @include icon-grid("\f07a", 1.7rem, inherit);
  }

  &__cal,
  &__cal1 {
    @include icon-grid("\f073", 1.7rem, inherit);
  }

  &__features {
    @include icon-grid("\e936", 1.7rem, inherit);
  }

  &__price {
    @include icon-grid("\e93c", 1.7rem, inherit);
  }

  &__comments {
    @include icon-grid("\e96e", 1.7rem, inherit);
  }

  // Media Query 600
  a {
    grid-gap: 0;

    @include mq(600) {
      grid-gap: 1rem;
    }
  }

  span {
    display: none;

    @include mq(600) {
      display: initial;
    }
  }

  @include mq(600) {
    justify-content: center;
    grid-gap: 3rem;
  }

  // Media Query 800
  &--2 {
    a {
      grid-gap: 0;

      @include mq(800) {
        grid-gap: 1rem;
      }
    }

    span {
      display: none;

      @include mq(800) {
        display: initial;
      }
    }

    @include mq(800) {
      justify-content: center;
      grid-gap: 3rem;
    }
  }
}
