.btn {
 @include btn;
 
  &--back {
    margin-top: $spacer-top;
  }

  &--backlink {
  }

  &--faq {
    margin-top: $spacer-top;
  }

  &--insurance {
    margin-top: $spacer-top;
  }

  &--maps {
    // margin-top: $spacer-top;
  }

  &--pano {
    // margin-top: 1rem;
  }

  &--submit {
    grid-column: 1 / -1;
  }

  // &--cancel,
  // &--print,
  // &--send,
  &--white {
    &,
    &:link,
    &:visited {
      color: $clr-primary;
      background-color: $white;
    }
  }

  &--disabled {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      background-color: $clr-error;
      cursor: default;
      border: 0.2rem solid $clr-error;
    }
  }

  // &--pano {
  //     @include content-full;
  //     text-transform: uppercase;;
  // }

  &--booking {
  }
}

// .more a,
// .back a,
// .submit {
//     margin: 2rem 0 2rem;
// }
