.location {
  &__map {
    border: 0.1rem solid $grey3;

    img {
      @include image;
    }
  }

  &__container {
    width: 100%;
    border-collapse: collapse;

    & td {
      padding: 0.4rem;

      &:nth-child(2) {
        text-align: right;
      }
    }

    & tr:nth-child(odd) {
      td {
        background-color: $clr-background;
        border-top: 0.2rem solid $clr-primary;
        border-bottom: 0.2rem solid $clr-primary;
      }
    }
  }
}
