.table {

    width: 100%;
    min-width: 70rem;
    border-collapse: collapse;
    text-align: left;

    &__col1 {
        width: 40%;
    }

    // &__col2 {
    // }

    // &__col3 {
    // }

    &__col4 {
        width: 20%;
    }

    &__th,
    &__tf {
        border-top: .1rem solid $clr-table1;
        border-bottom: .1rem solid $clr-table1;
        padding: .5rem 1.5rem;
        background-color: $clr-table2;
        text-align: center;
        font-weight: $fw-b;

        // @for $i from 2 through 7 {
        //     &:nth-child(#{$i}) {
        //         display: none;

        //         @include mq($i*150+240) {
        //             display: table-cell;
        //         }
        //     }
        // }

        &--left {
            text-align: left;
        }

        &--right {
            text-align: right;
        }
    }

    &__td {
        border-bottom: .1rem solid $clr-table1;
        padding: .5rem 1.5rem;
        // vertical-align: baseline;

        // @for $i from 2 through 7 {
        //     &:nth-child(#{$i}) {
        //         display: none;

        //         @include mq($i*150+240) {
        //             display: table-cell;
        //         }
        //     }
        // }

        &--right {
            text-align: right;
        }

        &--center {
            text-align: center;
        }

        // &:nth-child(3) {
        //     display: none;

        //     @include mq(500) {
        //         display: table-cell;
        //     }
        // }
    }

    &__tr--zebra:nth-child(even) {
        background-color: $clr-table3;
    }

    &__tr--confirm {
        background-color: $clr-confirm-background;
    }

    &__tr--error {
        background-color: $clr-error-background;
    }

    &__link {
        @include txtlink;
    }
}