// https://medium.com/@eugeniolujambio/accessible-css-only-floating-labels-74bf9173bc5f

.form {

    display: grid;
    grid-template-columns: auto;
    grid-gap: 2rem;

    &__group {
        position: relative;
    }

    &__select {
        @include form;

        &--label {
            display: none;
        }
    }

    &__input {
        @include form;

        &::placeholder {
            color: $clr-placeholder;
            opacity: 0;
            transition: all .2s;
        }

        &:placeholder-shown+label {
            transform: translate(0, 2rem);
            color: $clr-placeholder;
            cursor: text;
            z-index: -1;
        }

        &:not(:placeholder-shown)+label,
        &:focus+label {
            transform: translate(0, 0);
            color: $clr-primary;
            font-weight: $fw-b;
            font-size: 80%;
            background-color: white;
            cursor: pointer;
            z-index: 1;
        }

        // green label if valid
        &:not(:placeholder-shown):not(:focus):valid+label {
            color: $clr-confirm;
        }

        // red label if not valid
        &:not(:placeholder-shown):not(:focus):invalid+label {
            color: $clr-error;
        }

        &--textarea {
            display: block;
            height: 30rem;
            resize: vertical;
        }
    }

    &__label {
        position: absolute;
        top: -.8rem;
        left: .8rem;
        padding: 0 .5rem;
        touch-action: manipulation;
        transition: all .2s;
    }

    p.error {
        display: none;
    }
}