.hero {
    display: grid;
    // height: calc(100vh - 14.5rem);
    grid-template-columns: [full-start] 1fr [center-start] auto [center-end] 1fr [full-end];
    grid-template-rows: 7vh 1fr;
    grid-gap: 2rem;
    background-color: $clr-primary;
    min-height: 47rem;
    margin-bottom: $spacer-md;

    @include mq(600) {
        margin-bottom: $spacer-lg;
    }

    @include mq(1200) {
        margin-bottom: $spacer-xl;
    }

    &__img {
        grid-column: full-start / full-end;
        grid-row: 1 / -1;

        img {
            width: 100%;
            min-width: 3.2rem;
            height: calc(100vh - 14.9rem);
            display: block;
            object-fit: cover;
            min-height: 47rem;
            border-bottom: .2rem solid $clr-primary;
        }
    }

    &__title {
        grid-column: center-start / center-end;
        grid-row: 2;
        // align-self: start;
        text-align: center;
        // z-index: 10; // lazy images

        &--main {
            font-weight: $fw-eb;
            font-size: 10vw;
            line-height: 1.2;
            color: $white;
            letter-spacing: 0.1rem;
            text-shadow: .2rem .2rem .3rem $black;
            display: block;

            @include mq(600) {
                font-size: 6rem;
            }
        }

        &--sub {
            font-weight: $fw-eb;
            font-size: 3.8vw;
            color: $white;
            letter-spacing: 0.15rem;
            text-shadow: .2rem .2rem .3rem $black;
            display: block;

            @include mq(600) {
                font-size: 2.3rem
            }
        }
    }
}