.image {
    margin-bottom: $spacer-md;

    @include mq(600) {
        margin-bottom: $spacer-lg;
    }

    @include mq(1200) {
        @include content-center;
        margin-bottom: $spacer-xl;
    }
    
    img {
        max-width: $center-width;
        width: 100%;
        display: block;
        object-fit: cover;
        
        @media only screen and (min-aspect-ratio: 10/7) and (orientation: landscape) {
            height: calc(100vh - 1rem);
        }
        
        @include mq(1200) {
            // border: .3rem solid $clr-primary;
            border-radius: 1rem;
        }
    }
}