.season {
    @include content-center;
    display: grid;
    // align-items: center;
    grid-gap: $spacer-sm;

    @include mq(600) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__tourist-tax {
        grid-column: 2;
        grid-row: 1;
    }

    &__person {
    }
}