.checkbox {
  &__title {
    border-bottom: 0.1rem solid $grey2;
    padding: 0 0 1rem;
    margin: 3rem 0 2rem;
  }

  &__item {
    display: inline;
  }

  &__label {
    // display: inline-block;
    display: inline-grid;
    // width: min-content;
    grid-template-columns: 3.5rem auto;
    align-items: center;
    justify-items: center;
    border: 0.1rem solid $clr-primary;
    border-radius: 5rem;
    padding: 0.2rem 2rem 0.2rem 0.4rem;
    margin: 0.4rem 0.2rem;
    transition: all 0.2s;
    cursor: pointer;

    &::before {
      display: inline-block;
      @include icomoon("\f067", inherit, $clr-primary);
      padding: 1rem;
      transition: transform 0.3s ease-in-out;
    }
  }

  &__input {
    display: none;

    &:checked + label {
      background-color: $clr-primary;
      color: $white;
      transition: all 0.2s;

      &::before {
        content: "\f00c";
        padding: 1rem 0.9rem;
        color: $white;
        transform: rotate(-360deg);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}
