.features {
  &__container {
    display: grid;
    grid-gap: 0.2rem;
  }

  &__item {
    padding: 1rem;
    &:nth-child(odd) {
      background-color: $clr-background;
      border-top: 0.2rem solid $clr-primary;
      border-bottom: 0.2rem solid $clr-primary;
    }
  }

  &__list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
}
