.price {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 3rem;
  }

  &__item {
    background-color: $grey5;
    border: 0.3rem solid $grey3;

    & div {
      padding: 1rem;
    }
  }

  &__period {
    background-color: $grey4;
  }
}
