.service {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 3rem;
  }

  &__item {
    background-color: $clr-background;
    border: 0.2rem solid $clr-primary;
    border-radius: $radius;
    padding: 1rem;

    & h3,
    p {
      padding: 1rem;
    }
  }

  &__title {
    // background-color: $grey4;
  }
}
