.slider {
  &__list {
  }

  &__item {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    // justify-content: center;
    background-color: $grey1;
  }

  &__prev {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    cursor: pointer;
    padding: 1.5rem;

    &::before {
      @include icomoon("\ea44", 3rem, $white);
    }
  }

  &__next {
    grid-column: 3;
    grid-row: 1;
    z-index: 2;
    cursor: pointer;
    padding: 1.5rem;

    &::before {
      @include icomoon("\ea42", 3rem, $white);
    }
  }

  &__img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  img {
    @include image;
    max-height: calc(100vh - 11.1rem);
    @media only screen and (orientation: portrait) {
      height: 100vw;
    }
  }

  // .lSSlideWrapper {
  //   // height: calc(100vh - 10rem);
  //   // max-width: calc((100vh - 15rem) * 1.5);
  // }

  // li {
  //   padding: 0;
  //   margin: 0;
  // }

  // // .lSPager {
  // //   display: none;
  // // }
}
